/*-----------------------------------------------

  目次

  1.company.html

    1-1 メインビジュアル
    1-2 Company 会社概要 セクション
    1-3 Access アクセス セクション
  
  2.footer

-----------------------------------------------*/

body {
  position: relative;
  width: 1440px;
  height: 5500px;
    
  margin-right: auto; /* 上下左右中央寄せ */
  margin-left : auto; /* 上下左右中央寄せ */
  /* 作業用色 */
  /* background-color: #e6e6e6; */
  background-color: #ffffff;
}


/*-----------------------------------------------

1-1 メインビジュアル

-----------------------------------------------*/

.main-visual__company {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 100px;

  background: url(../img/company_visual.png);
}

.main-visual__company h2 {
  position: absolute;
  width: 402px;
  height: 124px;
  left: 518px;
  top: 108px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 172%;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.main-visual__company h3 {
  position: absolute;
  width: 192px;
  height: 83px;
  left: 623px;
  top: 229px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 172%;
  
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------------------

1-2 Company 会社概要 セクション

-----------------------------------------------*/

.section-company__ttl {
  position: absolute;
  width: 800px;
  height: 0px;
  left: 0px;
  top: 750px;
  
  border: 3px solid #7CB794;
}

.section-company__ttl h2 {

  position: absolute;
  width: 335px;
  height: 70px;
  left: 170px;
  bottom: 20px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-company__ttl h3 {
  position: absolute;
  width: 150px;
  height: 35px;
  left: 560px;
  bottom: 25px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

.section-company__text {
  position: absolute;
  width: 935px;
  height: 1189px;
  left: 170px;
  top: 1001px;
  
  font-family: '游ゴシック', 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 172%;
  white-space: nowrap;
  
  color: #333333;
}

.section-company__text dt {
  /* 左寄せ */
  float: left;
  /* 後続の左寄せ解除 */
  clear: left;
  margin-right: 0.5em;
  width: 250px;
}

.section-company__text dd {
  float: left;
  margin-left: 1em;
}

/*-----------------------------------------------

1-3 Access アクセス セクション

-----------------------------------------------*/

.section-access__ttl {
  position: absolute;
  width: 982px;
  height: 0px;
  left: 0px;
  top: 2541px;
  
  border: 3px solid #7CB794;
}

.section-access__ttl h2 {

  position: absolute;
  width: 253px;
  height: 90px;
  left: 184px;
  bottom: 11px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;

  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-access__ttl h3 {
  position: absolute;
  width: 119px;
  height: 35px;
  left: 673px;
  bottom: 33px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

/*
  本社オフィス
-----------------------------------------------*/
#address1.access-address__office {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 180px;
  top: 2709px;
  
  background: #7CB794;
}

#address1.access-address__office h2 {
  position: absolute;
  width: 132px;
  height: 26px;
  left: 33px;
  top: 0px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  
  color: #333333;
}

#address1.access-address__office p {
  position: absolute;
  width: 348px;
  height: 56px;
  left: 10px;
  top: 38px;
  
  font-family: '游ゴシック', 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 172%;
  white-space: nowrap;
  
  color: #333333;
}

#address1.access-address__office .access-address__img1 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 0px;
  top: 136px;
  
  background: url(../img/company_map1.png);
}

#address1.access-address__office .access-address__img2 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 545px;
  top: 136px;
  
  background: url(../img/company_img1.png);
}

/*
  東京オフィス
-----------------------------------------------*/
#address2.access-address__office {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 180px;
  top: 3452px;
  
  background: #7CB794;
}

#address2.access-address__office h2 {
  position: absolute;
  width: 132px;
  height: 26px;
  left: 33px;
  top: 0px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  
  color: #333333;
}

#address2.access-address__office p {
  position: absolute;
  width: 348px;
  height: 56px;
  left: 10px;
  top: 38px;
  
  font-family: '游ゴシック', 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 172%;
  white-space: nowrap;
  
  color: #333333;
}

#address2.access-address__office .access-address__img1 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 0px;
  top: 136px;
  
  background: url(../img/company_map2.png);
}

#address2.access-address__office .access-address__img2 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 545px;
  top: 136px;
  
  background: url(../img/company_img2.png);
}

/*
  大阪オフィス
-----------------------------------------------*/
#address3.access-address__office {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 180px;
  top: 4192px;  
  
  background: #7CB794;
}

#address3.access-address__office h2 {
  position: absolute;
  width: 132px;
  height: 26px;
  left: 33px;
  top: 0px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  
  color: #333333;
}

#address3.access-address__office p {
  position: absolute;
  width: 348px;
  height: 56px;
  left: 10px;
  top: 38px;
  
  font-family: '游ゴシック', 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 172%;
  white-space: nowrap;
  
  color: #333333;
}

#address3.access-address__office .access-address__img1 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 0px;
  top: 136px;
  
  background: url(../img/company_map3.png);
}

#address3.access-address__office .access-address__img2 {
  position: absolute;
  width: 550px;
  height: 436px;
  left: 545px;
  top: 136px;
  
  background: url(../img/company_img3.png);
}

/*-----------------------------------------------

2 footer

-----------------------------------------------*/

.footer {
  position: absolute;
  width: 1440;
  height: 450;
  left: 0px;
  top: 5050px;
}
 