/*-----------------------------------------------

  目次

  1.message.html

    1-1 メインビジュアル
    1-2 Top Message 代表挨拶 セクション

  2.footer
  
-----------------------------------------------*/

body {
  position: relative;
  width: 1440px;
  height: 2500px;
  margin-right: auto; /* 上下左右中央寄せ */
  margin-left : auto; /* 上下左右中央寄せ */
  /* 作業用色 */
  /*background-color: #e6e6e6;*/
  background-color: #ffffff;
}


/*-----------------------------------------------

1-1 メインビジュアル

-----------------------------------------------*/

.main-visual {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 100px;
  
  background: url(../img/Rectangle\ 74.png);
}

.main-visual h2 {
  position: absolute;
  width: 570px;
  height: 124px;
  left: 422px;
  top: 108px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 172%;
  text-align : center;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.main-visual h3 {
  position: absolute;
  width: 192px;
  height: 83px;
  left: 608px;
  top: 229px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 172%;
  text-align : center;
  
  color: #FFFFFF;
  
  /* border: 1px solid #C4C4C4; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------------------

1-2 TopMessage 代表挨拶 セクション

-----------------------------------------------*/

.section-message__ttl {
  position: absolute;
  width: 920px;
  height: 0px;
  left: 0px;
  top: 750px;
  
  border: 3px solid #7CB794;
}

.section-message__ttl h2 {
position: absolute;
width: 460px;
height: 70px;
left: 170px;
bottom: 20px;

font-family: H'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 90px;
display: flex;
align-items: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-message__ttl h3 {
  position: absolute;
  width: 150px;
  height: 35px;
  left: 680px;
  bottom: 25px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

.section-message__img {
  position: absolute;
  width: 450px;
  height: 750px;
  left: 170px;
  top: 932px;
  
  background: url(../img/message.png);
}

.section-message__text p {
  position: absolute;
  width: 600px;
  height: 750px;
  left: 669px;
  top: 932px;
  
  font-family: '游ゴシック', 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 180%;
  
  /* or 31px */
  
  color: #333333;
}

.section-message__sign h2 {
  position: absolute;
  width: 183px;
  height: 40px;
  left: 788px;
  top: 1758px;
  
  font-family: 'A1明朝', 'A-OTF A1 Mincho Std', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 180%;
  
  /* or 43px */
  
  color: #333333;  
}

.section-message__sign__img {
  position: absolute;
  width: 328px;
  height: 106px;
  left: 899px;
  top: 1692px;
  
  background: url(../img/sign.png);
}

/*-----------------------------------------------

2 footer

-----------------------------------------------*/

.footer {
  position: absolute;
  width: 1440;
  height: 450;
  left: 0px;
  top: 2050px;
}
 