/*-----------------------------------------------

  目次

  1.product.html

    1-1 メインビジュアル
    1-2 ProductDevelopment 製品情報 セクション
      バレルトラッキングシステム
      ペアタイム
      エージェントラボ
  
  2.footer

-----------------------------------------------*/

body {
  position: relative;
  width: 1440px;
  height: 6150px;
    
  margin-right: auto; /* 上下左右中央寄せ */
  margin-left : auto; /* 上下左右中央寄せ */
  /* 作業用色 */
  /* background-color: #e6e6e6; */
  background-color: #ffffff;
}

/*-----------------------------------------------

1-1 メインビジュアル

-----------------------------------------------*/

.main-visual__product {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 100px;  

  background: url(../img/product_visual.png);
}

.main-visual__product h2 {
  position: absolute;
  width: 898px;
  height: 124px;
  left: 281px;
  top: 106px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 172%;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.main-visual__product h3 {
  position: absolute;
  width: 192px;
  height: 83px;
  left: 619px;
  top: 227px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 172%;
  
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------------------

1-2 ProductDevelopment 製品情報 セクション

-----------------------------------------------*/

.section-product__ttl {
  position: absolute;
  width: 1270px;
  height: 0px;
  left: 0px;
  top: 750px;
  
  border: 3px solid #7CB794;
}

.section-product__ttl h2 {
  position: absolute;
  width: 766px;
  height: 90px;
  left: 170px;
  bottom: 0px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-product__ttl h3 {
  position: absolute;
  width: 150px;
  height: 35px;
  left: 990px;
  bottom: 25px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

.section-product__text h2 {
  position: absolute;
  width: 1100px;
  height: 40px;
  left: 170px;
  top: 850px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-product__text p {
  position: absolute;
  width: 1000px;
  height: 200px;
  left: 220px;
  top: 950px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;

  display: flex;
  align-items: center;
  
  color: #333333;
}

.product-conts__header {
  position: absolute;
  width: 1000px;
  height: 70px;
  left: 217px;
  top: 1300px;
  
  background: #7CB794; 
}

.product-conts__header h2 {
  position: absolute;
  width: 900px;
  height: 40px;
  left: 50px;
  top: 15px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  
  color: #FFFFFF;  
}

.product-conts__img {
  position: absolute;
  width: 1100px;
  height: 373.62px;
  left: 170px;
  top: 1400px;
  
  background: url(../img/product_content1.png);
}

/*
  バレルトラッキングシステム
-----------------------------------------------*/
.section-tracking__ttl {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: 170px;
  top: 2000px;

  padding: 100px 0 ;
  border-top: 3px solid #7CB794;
  border-bottom: 3px solid #7CB794;
}

.section-tracking__ttl::before, .section-tracking__ttl::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-tracking__ttl::after {
 top: -10px;
 left: 0px;
}

.section-tracking__ttl::before {
  top: -10px;
  right: 0px;
}

.section-tracking__ttl2 {
  position: absolute;
  left: 170px;
  top: 2197px;
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-tracking__ttl2::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  top: 0px;
  right: -1092px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-tracking__ttl h2 {
  position: absolute;
  width: 500px;
  height: 25px;
  left: 43px;
  top: 25px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-tracking__ttl h3 {
  position: absolute;
  width: 1000px;
  height: 70px;
  left: 43px;
  top: 65px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
}

.section-tracking__ttl h4 {
  position: absolute;
  width: 600px;
  height: 25px;
  left: 43px;
  top: 145px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-tracking__text p {
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 220px;
  top: 2250px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  
  color: #333333;
}

.section-tracking__img1 {
  position: absolute;
  width: 500px;
  height: 650px;
  left: 195px;
  top: 2395px;
  
  background: url(../img/product_content2.png);
}

.section-tracking__img2 {
  position: absolute;
  width: 500px;
  height: 650px;
  left: 745px;
  top: 2395px;  
  
  background: url(../img/product_content3.png);
}

/*
  ペアタイム
-----------------------------------------------*/
.section-pairTime__ttl {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: 170px;
  top: 3201px;

  padding: 100px 0 ;
  border-top: 3px solid #7CB794;
  border-bottom: 3px solid #7CB794;
}

.section-pairTime__ttl::before, .section-pairTime__ttl::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-pairTime__ttl::after {
 top: -9px;
 left: 0px;
}

.section-pairTime__ttl::before {
  top: -9px;
  right: 0px;
}

.section-pairTime__ttl2 {
  position: absolute;
  left: 170px;
  top: 3399px;
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-pairTime__ttl2::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  top: -1px;
  right: -1092px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-pairTime__ttl h2 {
  position: absolute;
  width: 500px;
  height: 25px;
  left: 43px;
  top: 25px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-pairTime__ttl h3 {
  position: absolute;
  width: 1000px;
  height: 70px;
  left: 43px;
  top: 65px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
}

.section-pairTime__ttl h4 {
  position: absolute;
  width: 600px;
  height: 25px;
  left: 43px;
  top: 145px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-pairTime__text p {
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 220px;
  top: 3451px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  
  color: #333333;
}

.section-pairTime__img {
  position: absolute;
  width: 1000px;
  height: 650px;
  left: 225px;
  top: 3650px;
  
  background: url(../img/product_content4.png);
}

/*
  エージェントラボ
-----------------------------------------------*/
.section-agentLab__ttl {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: 170px;
  top: 4451px;

  padding: 100px 0 ;
  border-top: 3px solid #7CB794;
  border-bottom: 3px solid #7CB794;
}

.section-agentLab__ttl::before, .section-agentLab__ttl::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-agentLab__ttl::after {
 top: -9px;
 left: 0px;
}

.section-agentLab__ttl::before {
  top: -9px;
  right: 0px;
}

.section-agentLab__ttl2 {
  position: absolute;
  left: 170px;
  top: 4650px;
  width: 16px;
  height: 15px;
  border-radius: 50%;

  background-color: #7CB794;
}

.section-agentLab__ttl2::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 15px;
  top: 0px;
  right: -1092px;
  border-radius: 50%;

  background-color: #7CB794;
}
.section-agentLab__ttl h2 {
  position: absolute;
  width: 500px;
  height: 25px;
  left: 43px;
  top: 25px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-agentLab__ttl h3 {
  position: absolute;
  width: 1000px;
  height: 70px;
  left: 43px;
  top: 65px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
}

.section-agentLab__ttl h4 {
  position: absolute;
  width: 600px;
  height: 25px;
  left: 43px;
  top: 145px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  
  color: #000000;  
}

.section-agentLab__text p {
  position: absolute;
  width: 1000px;
  height: 150px;
  left: 220px;
  top: 4701px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  
  color: #333333;
}

.section-agentLab__background {
  position: absolute;
  width: 1000px;
  height: 650px;
  left: 225px;
  top: 4850px;
  
  background: rgba(124, 183, 148, 0.46);
}

.section-agentLab__background h2 {
  position: absolute;
  width: 355px;
  height: 56px;
  left: 318px;
  top: 297px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  
  color: #FFFFFF;
}

/*-----------------------------------------------

2 footer

-----------------------------------------------*/

.footer {
  position: absolute;
  width: 1440;
  height: 450;
  left: 0px;
  top: 5700px;
}
 