/*-----------------------------------------------

  目次

  1.product.html

    1-1 メインビジュアル
    1-2 ProductDevelopment 製品情報 セクション
  
  2.footer

-----------------------------------------------*/


/*-----------------------------------------------

2 footer

-----------------------------------------------*/

.footer {
  position: absolute;
  width: 1440;
  height: 450;
  left: 0px;
  top: 11050px;
}