/*-----------------------------------------------

  目次

  1.philosophy.html

    1-1 メインビジュアル
    1-2 Philosophy 企業理念 セクション
      カテゴリー
      見出し
      本文
  
  2.footer

-----------------------------------------------*/

body {
  position: relative;
  width: 1440px;
  height: 3700px;
  margin-right: auto; /* 上下左右中央寄せ */
  margin-left : auto; /* 上下左右中央寄せ */
  /* 作業用色 */
  /*background-color: #e6e6e6;*/
  background-color: #ffffff;
}

/*-----------------------------------------------

1-1 メインビジュアル

-----------------------------------------------*/

.main-visual__service {
  position: absolute;
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 100px;
  
  background: url(../img/service_visual.png);
}

.main-visual__service h2 {
  position: absolute;
  width: 317px;
  height: 124px;
  left: 590px;
  top: 104px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 172%;
  
  color: #FFFFFF;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-visual__service h3 {

  position: absolute;
  width: 192px;
  height: 83px;
  left: 653px;
  top: 225px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 172%;
  white-space: nowrap;

  color: #FFFFFF;
  
  /* border: 1px solid #C4C4C4; */ 
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/*-----------------------------------------------

1-2 Service 事業内容 セクション

-----------------------------------------------*/

.first-section-service__ttl {
  position: absolute;
  width: 770px;
  height: 0px;
  left: 0px;
  top: 750px;
  
  border: 3px solid #7CB794;
}

.first-section-service__ttl h2 {
  position: absolute;
  width: 264px;
  height: 90px;
  left: 170px;
  bottom: 0px;
  
  font-family: 'ヒラギノ角ゴ Std W8', 'Hiragino Kaku Gothic Std', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 90px;
  display: flex;
  align-items: center;
  
  color: #000000;
  
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-section-service__ttl h3 {
  position: absolute;
  width: 150px;
  height: 35px;
  left: 490px;
  bottom: 25px;
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

/*
  開発実績
-----------------------------------------------*/
#content1 {
  position: absolute;
  width: 1440px;
  height: 650px;
  left: 0px;
  top: 890px;

  background: #F7F7F7;
}

#content1.section-service__text  {
  position: absolute;
width: 550px;
height: 500px;
left: 169px;
top: 959px;
}
/*-----------------------------------------------

2 footer

-----------------------------------------------*/

.footer {
  position: absolute;
  width: 1440;
  height: 450;
  left: 0px;
  top: 3250px;
}
 